.app.navy{
    background-color: rgb(0, 0, 128);
    color: rgb(230, 230, 230);

    .chartGrid{
        stroke: rgba(228, 228, 228, 0.219);
    }

    .table{
        background-color: rgb(0, 0, 128);

        .tableCell{
            color: rgba(230, 230, 230, 0.90);
        }
    }

    .navbar{
        color: rgb(202, 202, 202);
        border-color: rgb(0, 0, 75);

        .search{
            border-color: rgba(230, 230, 230, 0.90);
        }
    }

    .sidebar{
        background-color: rgb(0, 0, 128);
        border-color: rgb(0, 0, 75);

        .top{
            .logo{
                color: rgb(202, 202, 202);
            }
        }

        hr{
            border-color: rgb(0, 0, 75);
        }

        ul{
            li{
                &:hover{
                    background-color: rgb(0, 0, 75);
                }

                .icon{
                    color: rgb(202, 202, 202);
                }
            }
        }
    }

    .datatable{
        .datagrid{
            color: rgba(230, 230, 230, 0.90);
            border: none;

            .verButton, .eliminarButton, .cellWithStatus{
                color: rgba(230, 230, 230, 0.90);
                border: none;

                &.activo{
                    background-color: #00800060;
                    color: rgb(0, 128, 0);
                }
                &.pendiente{
                    background-color: rgba(255, 217, 0, 0.4);
                    color: rgba(218, 165, 32);
                }
                &.pasivo{
                    background-color: rgba(255, 0, 0, 0.4);
                    color: rgba(220, 20, 60);
                }
            }
        }
    }

    .table{
        .status{
            &.Aprobado{
                color: rgba(0, 128, 0);
                background-color: #00800060;
            }
            &.Pendiente {
                color: rgba(218, 165, 32);
                background-color: rgba(255, 217, 0, 0.4);
            }
        }
    }

    input{
        background-color: transparent;
    }
}